<div class="text-layout">
    <h1>Basic Pipes</h1>
    <p>
        Pipes include in Angular - Commons Module
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="uppercase" [subheader]="nameLower | uppercase">
            {{ nameLower | uppercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase" [subheader]="nameUpper | lowercase">
            {{ nameUpper | lowercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase" [subheader]="fullName | titlecase">
            {{ fullName | titlecase}}
        </p-card>
    </div>

</div>