<div class="text-layout">
    <h1>Basic Pipes</h1>
    <p>
        Pipes include in Angular - Commons Module
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="uppercase" [subheader]="nameLower | uppercase">
            {{ nameLower | uppercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase" [subheader]="nameUpper | lowercase">
            {{ nameUpper | lowercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase" [subheader]="fullName | titlecase">
            {{ fullName | titlecase}}
        </p-card>
    </div>

</div>

<div class="text-layout">
    <h1>Date Pipe</h1>
    <p>
        Date pipe include in Angular - Commons Module
    </p>
</div>

<div class="grid">
    <div class="col-6">
        <p-card>
            <ul>
                <li>today</li>
                <li>today | date</li>
                <li>today | date: 'short'</li>
                <li>today | date: 'long'</li>
                <li>today | date: 'dd/MM/yyyy HH:mm:ss'</li>
                <li>today | date: 'MMMM dd, yyyy'</li>
            </ul>
        </p-card>
    </div>

    <div class="col-6">
        <p-card>
            <ul>
                <li> {{ today }} </li>
                <li> {{ today | date }} </li>
                <li> {{ today | date: 'short' }} </li>
                <li> {{ today | date: 'long' }} </li>
                <li> {{ today | date: 'dd/MM/yyyy HH:mm:ss' }} </li>
                <li> {{ today | date: 'MMMM dd, yyyy' }} </li>
            </ul>
        </p-card>
    </div>
</div>