<div class="text-layout">
    <h1>Custom pipes</h1>
    <p>
        {{'Pipes' | upper:upperBoolean }} created by me
    </p>

</div>

<p-toolbar>
    <div class="p-toolbar-group-left">
    </div>

    <div class="p-toolbar-group-right">

        <button pButton pRipple label="Change case" icon="pi pi-check" iconPos="left" class="mr-1 p-button-warning" (click)="changeCase()"></button>

        <button pButton pRipple icon="pi pi-sort" label="By name" class="mr-1" (click)="changeOrderby('name')"></button>

        <button pButton pRipple icon="pi pi-sort" label="By fly" class="mr-1 p-button-success" (click)="changeOrderby('fly')"></button>

        <button pButton pRipple icon="pi pi-sort" label="By color" class="mr-1 p-button-help" (click)="changeOrderby('color')"></button>
    </div>
</p-toolbar>

<div class="grid">
    <div class="col mt-2">
        <p-table [value]="heroes | sort : orderBy" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Fly</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.name}}</td>
                    <td>{{heroe.fly | fly | titlecase}}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>